<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = "../static/styles/about.css">
  <link rel="stylesheet" href="../static/styles/nav.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <div class="nav-btns">
            {% if is_logged_in %}
                <a href="/logout">Logout</a>
                <a class="b-w" href="/profile">Profile</a>
            {% else %}
                <a class="b-w" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
    
    <div class = "main-content">
        <div class = "page-information">
            <h1 class = "project-name">QuizStix</h1>
        </div>

        <div class = "cards">
            <div class = "card">
                <h2 class = "card-title">Описание</h2>
                <a class = "card-body">Уеб приложение, което по дадена презентация/документ/текст, свързана/а с преподаден урок, генерира викторина с въпроси за проверка на знанията на учениците. Всеки учител вижда викторините, които е създал в страницата MyProfile и има опцията да генерира статистики на базата на резултатите на учениците. Някои от статистиките, които учителят може да види са процент успеваемост на учениците на всеки въпрос, процент успеваемост на учениците на цялата викторина и по колко отговора от всеки има на всеки въпрос.</a>
            </div>
            <div class = "card">
                <h2 class = "card-title">Ръководство</h2>
                <ul class = "pages-tab">
                    <li class = "page-description"><strong>My Profile</strong> - Страница, в която учителят може да преглежда своите стари викторини, да генерира статистики на база на резултатите от тях и да създава нови такива.</li>
                    <li class = "page-description"><strong>Upload page</strong> - Страница, към която учителят бива пренасочен при създаване на нова викторина. В нея той може да селектира файл, от който да бъде извлечена информация за нея, както и от колко въпроса да бъде.</li>
                    <li class = "page-description"><strong>Quiz</strong> - Страница с въпросите от викторината, която учениците трябва да попълнят. Всяка викторина се състои от въпроси с 4 избираеми затворени отговорал. При предаване на викторината, ученикът може да види кои са правилните отговори на всеки въпрос от нея.</li>
                    <li class = "page-description"><strong>Statistics</strong> - Страница, към която бива препратен учителят, когато избере опцията за генериране на статистики в <i>My Profile</i>. В нея той може да види диаграми, свързани с резултатите на учениците, попълнили съответната викторина.</li>
                </ul>
            </div>
        </div>
        <div class = "creators-tab">
            <h2 class = "creators-title">Създатели</h2>
            <div class = "creators">
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Alexandar.jpg">
                    <span class = "creator-name">Александър</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Valentin.jpg">
                    <span class = "creator-name">Валентин</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Petar.jpg">
                    <span class = "creator-name">Петър</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Simeon.jpg">
                    <span class = "creator-name">Симеон</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Stilian.png">
                    <span class = "creator-name">Стилиян</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>