<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = "../static/styles/about.css">
  <link rel="stylesheet" href="../static/styles/nav.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <div class="nav-btns">
            {% if is_logged_in %}
                <a href="/logout">Logout</a>
                <a class="b-w" href="/profile">Profile</a>
            {% else %}
                <a class="b-w" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
    
    <div class = "main-content">
        <div class = "page-information">
            <h1 class = "project-name">Quizstics</h1>
        </div>

        <div class = "maps">
            <div class = "map">

            </div>
            <div class = "map">

            </div>
        </div>
        <div class = "creators-tab">
            <h2 class = "creators-title">Creators</h2>
            <div class = "creators">
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Alexandar.jpg">
                    <span class = "creator-name">Alexandar</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Valentin.png">
                    <span class = "creator-name">Valentin</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Petar.jpg">
                    <span class = "creator-name">Petar</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Simeon.jpg">
                    <span class = "creator-name">Simeon</span>
                </div>
                <div class = "creator">
                    <img class = "creator-icon" src = "../static/assets/Stilian.png">
                    <span class = "creator-name">Stilian</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>