<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/diagrams.css">
    <title>Quiz</title>
</head>
<body>
    <div class="main-content">
        <div class="main-title">
            <h1>Quiz</h1>
        </div>
        <div class="main-content">
            {% for diagram_file, statistic_file in zip(diagrams_files, statistics_files) %}
            <div class="quiz-item">
                <h2>Question: What is this?</h2>
                <div class="image-options">
                    <img src="{{ diagram_file }}" alt="Diagram" class="option-image">
                    <img src="{{ statistic_file }}" alt="Statistic" class="option-image">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
