<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "../static/styles/style.css">
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/import.css' rel='stylesheet'>
    </head>
    <body>
        <div id = "main-page">
            <form id = "file-form" method = "post" enctype="multipart/form-data" action = "/upload">
                <input type = "file" id = "file-field" name = "uploaded-file">
                <label for = "file-field" id = "file-field-label">
                    <div id = "import-button-content">
                        <img id = "import-icon" src = "../static/assets/import.png">
                        <span>Import text file</span>
                    </div>
                </label>
                <br>
                <div id = "chosen-file">
                    <span>Chosen file: </span>
                    <span id = "chosen-file-name">None</span>
                </div>

                <br>
                <input type = "submit" id = "submit-field">
                <label for = "submit-field" id = "submit-field-label">Submit</label>
            </form>
        </div>

        <script>
            let inputFile = document.getElementById('file-field');
            let fileNameField = document.getElementById('chosen-file-name');
            inputFile.addEventListener('change', event => {
                fileNameField.textContent = event.target.files[0].name
            })
        </script>
    </body>
</html>