<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/style.css">
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/import.css' rel='stylesheet'>
    </head>
    <body>
        <form class="file-form" method = "post" enctype="multipart/form-data" action="/upload">
            <input type = "file" id="file-field" name = "uploaded-file">
            <label for="file-field" class="file-field-label">
                <div class="import-button-content">
                    <img class="import-icon" src = "../static/assets/import.png">
                    <span>Import text file</span>
                </div>
            </label>
            <br>
            <div class="chosen-file">
                <span>Chosen file: </span>
                <span id="chosen-file-name">None</span>
            </div>

            <br>
            <input type="submit" class="submit-field">
            <label for="submit-field" id="submit-field-label">Submit</label>
        </form>

        <script>
            let inputFile = document.getElementById('file-field');
            let fileNameField = document.getElementById('chosen-file-name');
            let submitButton = document.getElementById('submit-field-label')

            inputFile.addEventListener('change', event => {
                fileNameField.textContent = event.target.files[0].name
                submitButton.style.borderStyle = "dashed";
                submitButton.style.borderColor = "lightgrey";
            })
        </script>
    </body>
</html>