<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel = "stylesheet" href = "../static/styles/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method = "post" enctype="multipart/form-data" action = "/login" id = "login-form">
            <input type="text" name="username-field" placeholder="Username" required>
            <input type="password" name="password-field" placeholder="Password" required>
            <input type="submit" name ="submit-field" value="Log in">
        </form>
    </div>

    {% if trigger_alert %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function(){alert('This alert will appear after 3 seconds.')}, 3000);
                alert("Either no account detected or session expired!")
            });
        </script>
    {% endif %}
</body>
</html>
