<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="../static/styles/myprofile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <button class="create-quiz-btn">Create new quiz</button>
    </div>
    <div class="main-content">
        <h1 class="main-title">My Profile</h1>
        {% for quiz in quizzes %}
            <a href="/quiz/{{ quiz[0]['id'] }}" class="quiz-item">{{ quiz[0]['question'] }}</a>
        {% endfor %}
    </div>

</body>
</html>
