<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/quiz_editor.css">
        <link rel="stylesheet" href="../static/styles/nav.css">
        <title>Quiz - Editor</title>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <div class="nav-btns">
                {% if is_logged_in %}
                    <a href="/logout">Logout</a>
                    <a class="b-w" href="/profile">Profile</a>
                {% else %}
                    <a class="b-w" href="/login">Login</a>
                {% endif %}
            </div>
        </div>

        <div class="main-page">
            <div class="quiz-bubble w-50 text-center px-20 mx-20">
                <h1>{{ quiz_name }}</h1>
            </div>
            <form class="w-70 text-center" action = "/quiz/{{ quiz_id }}/submit" method = "post" name = "quiz-form">
                {% set questionCounter = namespace(value=1) %}
                {% for question in quiz %}
                    <div class="text-left quiz-bubble mx-20 p-53015">
                        <h2><label><input type = "text" name = "question_{{ questionCounter.value }}_value" class = "question-edit" value = "{{ question.question }}"></label></h2>
                        {% set ns = namespace(counter=0) %}
                        {% for answer in question.answers %}
                            <div class="options">
                                <input type="radio" name="question_{{ questionCounter.value }}_right_answer" value="{{ 'ABCD'[ns.counter] }}" {% if answer == question.right_answer %} checked {% endif %} required>
                                <label><input type = "text" name = "question_{{ questionCounter.value }}_answer_{{ ns.counter + 1}}" value = "{{ answer }}"></label>
                            </div>
                            <br>
                            {% set ns.counter = ns.counter + 1 %}
                        {% endfor %}
                        {% set questionCounter.value = questionCounter.value + 1 %}
                    </div>
                {% endfor %}

                <div class = "save-options-buttons">
                    <input class = "save-options-button save-button" type = "submit" value = "Save">
                    <input class = "save-options-button cancel-button" type = "submit" value = "Cancel"></input>
                </div>
            </form>
        </div>
        <div class="footer">
        </div>
    </body>
</html>