body {
    background-color: #ffddb6;
}

#form-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -120%);
}

#file-field{
    display: none;
}

#file-field-label {
    border-style: solid;
    border-color: saddlebrown;
    background-color: #e5a987;
    display: block;
    height: 100px;
    width: 240px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border-radius: 10%;
}

#file-field-label:hover {
    background-color: #9c6b4b;
}

#submit-field {
    display: none
}

#submit-field-label {
    position: absolute;
    display: block;
    border-style: solid;
    border-color: saddlebrown;
    height: 40px;
    width: 100px;
    transform: translateX(70%);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 10%;
    background-color: #e5a987;
}

#submit-field-label:hover {
    background-color: #9c6b4b;
}

#chosen-file {
    font-style: italic;
    text-align: center;
    transform: translateY(-50%);
}